In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('F:\DataMining\dataset\chipotle.tsv.csv', sep="\t")
print(data)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [15]:
data.loc[(data.quantity == 15) | (data.item_name == 'Nantucket Nectar'), ['order_id', 'quantity', 'item_name']]

      order_id  quantity                     item_name
2            1         1              Nantucket Nectar
22          11         1              Nantucket Nectar
105         46         1              Nantucket Nectar
173         77         1              Nantucket Nectar
205         91         1              Nantucket Nectar
436        189         1              Nantucket Nectar
601        247         2              Nantucket Nectar
925        381         1              Nantucket Nectar
1356       553         1              Nantucket Nectar
1585       641         1              Nantucket Nectar
1626       656         1              Nantucket Nectar
1706       690         1              Nantucket Nectar
2162       872         1              Nantucket Nectar
2379       947         2              Nantucket Nectar
2381       947         1              Nantucket Nectar
2430       965         1              Nantucket Nectar
2653      1053         1              Nantucket Nectar
2818      1118         1              Nantucket Nectar
2838      1128         1              Nantucket Nectar
2853      1133         1              Nantucket Nectar
2949      1172         1              Nantucket Nectar
3318      1330         1              Nantucket Nectar
3368      1351         1              Nantucket Nectar
3570      1433         1              Nantucket Nectar
3598      1443        15  Chips and Fresh Tomato Salsa
3845      1541         1              Nantucket Nectar
4019      1609         1              Nantucket Nectar
4078      1632         1              Nantucket Nectar

In [11]:
data.index

RangeIndex(start=0, stop=4622, step=1)

In [22]:
data.iloc[3:5, [0,2]]

   order_id                              item_name
3         1  Chips and Tomatillo-Green Chili Salsa
4         2                           Chicken Bowl

In [23]:
data.iloc[3:5,2]

3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
Name: item_name, dtype: object

In [43]:
data.item_name.nunique()

50